# Системные и IDE файлы
.idea/
*.swp
*.bak

# Виртуальная среда Python
.venv/

# Python временные файлы и кэш
__pycache__/
*.py[cod]
*.pyo
*.log

# База данных
/db.sqlite3

# Конфиденциальные данные
/.env
